<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title><%= title %></title>
        <style>
            body {text-align: center;font: normal 100% Helvetica, Arial, sans-serif;}
        </style>
    </head>

    <body>
        <% if (isBound) { %>
            <form action=<%= url %> method="post">
                <p><%= content %></p>
                <input type="submit" value="解除绑定">
            </form>
        <% } else {%>
            <form action=<%= url %> method="post">
                <p><%= content %></p>
                imei号: <input type="text" name="imei"><br><br>
                <input type="submit" value="绑定设备">
            </form>
        <% } %>
    </body>
</html>